<!DOCTYPE html>
<html>
<head>
    <title v-if="userid">{{username}}的个人中心</title>
    <title v-if="!userid">个人中心</title>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="/boardgame/css/center.css">
    <script src="/boardgame/js/vue.min.js"></script>
    <script src="/boardgame/js/vue.min.js"></script>
    <script src="/boardgame/js/jquery.min.js"></script>
    <script src="/boardgame/js/bootstrap.min.js"></script>
    <script src="/boardgame/js/custom_function.js"></script>
    <script src="/boardgame/js/axios.min.js"></script>
</head>

<body>
<div id="app">
    <div id="navbar">
        <ul>
            	<li><a href="/boardgame/index.html">首页</a></li>
            	<li><a href="/boardgame/chat.html">好友</a></li>
            	<li v-if="userid"><a href="/boardgame/person_center.html">{{username}}</a></li>
            	<li v-if="!userid"><a href="/boardgame/person_center.html">个人中心</a></li>
            	<li><a href="/boardgame/login.html">登录/注册</a></li>
        </ul>
    </div>
    <div style="width:100%;height:20px;background-color: #F5F5F5;"></div>
    <div id="main">
        <div id="content">
            <div class="container" v-if="userid">
                <div id="form" class="form">
                    <div class="form-control">
                        <label for="username">用户名</label>
                        <input type="text" placeholder="用户名" id="username" v-model="username"/>
                    </div>
                    <div class="form-control">
                        <label for="username">手机号</label>
                        <input type="text" placeholder="手机号" v-model="phone"/>
                    </div>
                    <div class="form-control">
                        <label for="username">邮箱</label>
                        <input type="email" placeholder="请输有效入邮箱" id="email" v-model="email"/>
                    </div>
                    <div class="form-control">
                        <label for="username">个性签名</label>
                        <input type="text" placeholder="个性签名" v-model="sign"/>
                    </div>
                    <div class="form-control">
                        <label for="username">密码</label>
                        <input type="password" placeholder="密码" id="password" v-model="password"/>
                    </div>
                    <button @click="updateUser">修改</button>
                    <button onclick="deleteCookie('uid','username')">退出登录</button>
                </div>

                <div id="table">
                    <table cellpadding="0" cellspacing="0">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>游戏名</th>
                            <th>游戏次数</th>
                            <th>胜利次数</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td width="5%">1</td>
                            <td width="10%">谁是卧底</td>
                            <td width="10%" v-text="game_num"></td>
                            <td width="10%" v-text="win_num"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div v-if="!userid">
                <a color="black" href="login.html">请先登录</a>
            </div>
        </div>
    </div>
    <div id="footer"></div>
</div>
</body>
<script src="/boardgame/js/person_center.js"></script>
</html>

